<div class="text-white pt-2">
  <% produto.comments.each do |comment| %>
    <% if comment.valid? %>
      <div>
        <strong>Autor do comentário:</strong>
        <%= comment.commenter %>
      </div>

      <div>
        <strong>Comentário:</strong>
        <%= comment.classificacao %>
      </div>
      <br/>
    <% end %>
    <%= link_to 'Apagar comentário', [comment.produto, comment], class: "btn btn-secondary",
                  method: :delete,
                  data: { confirm: "Tem Certeza?" } %>

  <% end %>
</div>