<div>
  <% produto.comments.each do |comment| %>
    <% if comment.valid? %>
      <div>
        <strong>Autor do comentário:</strong>
        <%= comment.commenter %>
      </div>

      <div>
        <strong>Comentário:</strong>
        <%= comment.classificacao %>
      </div>
      <br/>
      <%= link_to 'Destruir comentário', [comment.produto, comment], class: "button",
                    method: :delete,
                    data: { confirm: "Tem Certeza?" } %>
  
    <% end %>
  <% end %>
</div>