<footer class="mt-auto text-white-50">
  <p>
    Rafael dos Santos Galdino 
    <a href="www.linkedin.com/in/rafaeldossantosgaldinosoares" class="text-white">
      RS Company
    </a>, by 
    <a href="www.linkedin.com/in/rafaeldossantosgaldinosoares" class="text-white">
      @2022
    </a>.
  </p>
</footer>