<h3>Lista</h3>

<p> Tabela do crud </p>
<table border="2">
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Classificação</th>
        <th>Descricao</th>
  </tr>
  <tr>
    <td> <%= @produtos.codigo %></td>
    <td> <%= @produtos.nome %></td>
    <td> <%= @produtos.classificacao %></td>
    <td> <%= @produtos.descricao %> </td>
  </tr>
</table>