/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ @import "bootstrap";


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.navbar-nav {
  width: 100%
}

@media(min-width:568px) {
  .end {
    margin-left: auto
  }
}

@media(max-width:768px) {
  #post {
    width: 100%
  }
}

#clicked {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px
}

#profile {
  background-color: unset
}

#post {
  margin: 10px;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
  width: 50%
}

body {
  background-image: url("https://images.unsplash.com/photo-1614294148960-9aa740632a87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}
.container{
  background-color: transparent !important;
}

.bg-light{
  background-color: transparent !important;
}

#nav-items li a,
#profile {
  text-decoration: none;
  color: rgb(224, 219, 219);
  background-color: black
}

.comments {
  margin-top: 5%;
  margin-left: 20px
}

.darker {
  border: 1px solid #ecb21f;
  background-color: black;
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}

.comment {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(221, 226, 226, 0.973);
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.darker span {
  display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
  color: rgb(184, 183, 183)
}

h1,
h4 {
  color:black;
  font-weight: bold
}

label {
  color:black
}

#align-form {
  margin-top: 20px
}

.form-group p a {
  color: white
}

#checkbx {
  background-color: black
}

#darker img {
  margin-right: 15px;
  position: static
}

.form-group input,
.form-group textarea {
  background-color: #ffff;
  border: 1px solid black;
  border-radius: 12px
}

form {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: #ffff;
  border-radius: 5px;
  padding: 20px
}
